*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F7F8;
    font-family: 'Inter';
    display: flex;
}
.contacts-content{
    display: flex;
}
#contacts-list{
    width: 453px;
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 20px;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.contact-list-first-latter{
    font-size: 20px;
    font-weight: 400;
    margin: 0 40px 20px 40px;
}
.contact-list-hr{
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
    border: none;
}
.contact-list-icon{
    width: 42px;
    height: 42px;
    color: #FFFFFF;
    border-radius: 50%;
    border:1px solid #FFFFFF;
    background-color: #29ABE2;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-list-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.contacts-list-item-email{
    color: #29ABE2;
}
.contacts-list-item:hover{
    background-color:#2A3647;
    color: #FFFFFF;
    border-radius: 10px;
}
.contact{
    position: fixed;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.contact-header-title{
    width: 569px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px; 
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-header-title-icon{
    font-size: 61px;
    font-weight: 700;
}
.contact-header-hr{
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
    border: none;
    border-radius: 3px;
}
.contact-header-icon{
    width: 120px;
    height: 120px;
    background-color: #29ABE2;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    padding-left: 30px;
    gap: 20px;
}
.contact-header-name{
    font-size: 47px;
    font-weight: 500;
}
.contact-header-add-task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    gap: 50px;	
}
#contact-content{
    position: relative;
    right: -100%;
    transition: all 0.7s ease-in-out;
}
.contact-body-header{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 20px;
    gap: 90px;
    padding-left: 30px;
}
.contact-body-header-title{
    font-size: 20px;
    font-weight: 400;
}
.contact-body-header-edit{
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.contact-body-header-delete{
    cursor: pointer;
}
.contact-body-header-edit img{
    object-fit: cover;
    width: 15px;
}
.contact-body-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 30px;
}
.contact-body-item-title{
    font-size: 16px;
    font-weight: 700;
}
.contact-body-item-value-email{
    color: #29ABE2;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.contact-btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 180px;
    height: 53px;
    background-color: #2A3647;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 20px;
    margin-left: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.contact-btn img{
    width: 30px;

}
#temp-contacts{
    background-color: var(--background-dark-active);
}
#temp-contacts p{
    color: white;
}

#contacts-icon-img-hover{
display: unset;

}

/**=========== ADD CONTACTS ===================**/

#add-contakt-modal{ 
    position: fixed;
    top: 0;
    right: -200%;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 54, 71, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 222;
    transition: all 0.7s ease-in-out;
}

.add-contacts-container{
    position: relative;
    max-width: 1200px;
    width: 80%;
    max-height: 700px;
    height: 70%;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 120px;
}
.add-contact-greeting-container{
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #2A3647;
    border-radius: 30px 0px 0px 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    gap: 10px;
}
.add-contact-greeting-container h1{
    font-size: 61px;
    font-weight: 700;
}
.add-contact-greeting-container p{
    font-size: 27px;
    font-weight: 400;
}
.add-contact-hr{
    background-color: #29ABE2;
    width: 90px;
    height: 3px;
    border-radius: 3px;
    border: none;
}
.add-contact-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-right: 40px;
}
.contact-member-icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.add-contact-form{
    width: 422px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 20px;
}
.input-container{
    width: 422px;
    height: 51px;
    position: relative;
}
input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
}
input::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD;
}
.add-contact-img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
.add-contact{
    width: 138px;
    height: 57px;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 4px 16px;
    cursor: pointer;
}
.add-contact img{
    margin-left: 10px;
}
.create-contact{
    width: 211px;
    height: 56px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #2A3647;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.close{
    position: absolute;
    border: none;
    background-color: transparent;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.contact-member-icon h1{
    color: #ffffff;
    font-size: 47px;
    font-weight: 500;
}
.displaynone{
    display: none;
}
#back-to-contancts{
    display: none;
    cursor: pointer;
}
/* ======Mobile======= */

@media (max-width: 1400px){
    .add-contact-form-container{
        flex-direction: column;
        margin-right: 100px;
    }
}

@media (max-width: 1300px){
    .contact{
        left: 60%;
    }
    .contact-header-title{
        width: 400px;
    }
    .contact-header-title-icon{
        font-size: 40px;
    }
}
@media (max-width: 1200px){
    .close{
        background-color: #BDBDBD;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        z-index: 3;
    }
    .contact-header-title{
        width: 300px;
    }
    .contact-header-title-icon{
        font-size: 20px;
    }
    .contact-header-icon{
        width: 80px;
        height: 80px;
        font-size: 30px;
    }
    .contact-header-name{
        font-size: 30px;
    }
    
    .add-contacts-container{
        width: 60%;
        height: 90%;
    }
    .add-contact-form{
        align-items: center;
        margin: auto;
    }
    .add-contact-greeting-container{
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 30px 30px 0 0;
    }
    .add-contact-greeting-container h1{
        font-size: 40px;
    }
    .add-contact-form-container{
        margin: auto;
        margin-bottom: 20px;
    }
    .contact-member-icon{
        z-index: 3;
        margin-bottom: -30px;
    }

}   
@media (max-width: 1150px){
    .contact{
        left: 64%;
    }   
}
@media (max-width: 1100px){
    .contact{
        left: 68%;
    }   
}
@media (max-width: 1024px){
    .contact{
        display: none;
    }   
    .content{
        position: static;
        top: auto;
        left: auto;
    }
    #contakt-mobiel{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 1024px){
    .btn-deskription{
        display: none;
    }

    #contacts-list{
        padding-top: 100px;
    }
    
    .contact-btn{
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 120px;
        right: 20px;
    }
}
@media (max-height: 800px){
    .contact-member-icon{
        display: none;
    }  
}
@media (max-width: 748px){
    .add-contact-form{
        width: 100%;
        margin-left: 60px;
        margin-right: 60px;
    }
    .input-container{
        width: 80%;
    }  
    .add-contact{
        width: 100%;
        font-size: 15px;
    }
   .create-contact{
        width: 100%;
        font-size: 15px;
   }
}
@media (max-width: 600px){
    #contacts-list{
        width: 400px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 100px;
    }
    .contacts-list-item{
        width: 100%;
    }
    .add-contacts-container{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .add-contact-greeting-container{
        border-radius: 0;
    }
    #back-to-contancts{
        right: 20px;
    }
    .contact-list-hr{
        width: 100%;
        margin-bottom: 5px;
        padding: 1px;
    }
}
@media (max-width: 500px){
    .contact-header-add-task{
        gap: 20px;
    }
    .contact-header-name{
        font-size: 20px;
    }
}
@media (max-width: 400px){
    #contacts-list{
        width: 300px;
    }
}

